@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Roboto:ital,wght@0,700;1,500&display=swap');

body{
    font-family: 'DM Serif Display', serif;
font-family: 'Roboto', sans-serif;
}